@using Entitys
@using Business

@inject NavigationManager NavManager

<div>
    <EditForm Model="oCategory">
        <div class="form-control">
            <label>Referencia:</label>
            <InputText @bind-Value="oCategory.CategoryId" class="form-group"></InputText>
        </div>
          <div class="form-control">
            <label>Nombre de Categoria:</label>
            <InputText @bind-Value="oCategory.CategoryName" class="form-group"></InputText>
        </div>
        <input type="button" value="Agregar Categoria" @onclick="SaveCategory"></input>

    </EditForm>

</div>
@code {
    public CategoryEntity oCategory = new CategoryEntity();

    public void SaveCategory()
    {
        try
        {
            B_Category.createCategory(oCategory);
            NavManager.NavigateTo("category/list");
        }catch(Exception ex)
        {
            Console.WriteLine("Error al agregar la categoria "+ex.Message);
        }

    
    }
}